{% comment %}New initial code template{% endcomment %}
{% block env %}import datetime{% endblock env %}

{% block start %}
def birthday_party(birthday: datetime.date) -> datetime.date:
    # your code here
    return birthday
{% endblock start %}

{% block example %}
print('Example:')
print(birthday_party(datetime.date(2022, 1, 5)))
{% endblock %}

{% block tests %}
{% for t in tests %}
assert {% block call %}birthday_party({{t.input.0|p}})
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The first mission is done! Click 'Check' to earn cool rewards!")
{% endblock final %}
